################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/packages
/GeometryParser/obj
/GeometryParser/bin
/GeometryParser.DAL/obj
/GeometryParser.DAL/bin
